@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKsPdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsPdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8jjPKsPdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8jYPWsPdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8jWfWsPdC6.ttf) format('truetype');
}
