body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure a minimum height */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%; /* Adjust as needed */
    max-width: 400px; /* Set a maximum width */
    padding: 20px;
    background-color: #fff; /* Add a background to form for better visibility */
    border-radius: 10px;
}

input[type="file"] {
    padding: 10px;
    border: none;
    background-color: #f5f5f5; /* Change background color */
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 100%; /* Adjust as needed */
    width: 100%; /* Use full width of parent container */
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    max-width: 100%; /* Adjust as needed */
    width: 100%; /* Use full width of parent container */
}

input[type="submit"]:hover {
    background-color: #005700;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    color: #333;
    margin-left: 20px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* Ensure the image doesn't exceed the viewport height */
}

/* Add this CSS to your styles.css file */
table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #008000;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

