<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Image Classification</title>
</head>
<body>
<main class="main_full">
    <div class="container">
        <div class="panel">
            <div class="button_outer">
                <div class="btn_upload">
                    <input type="file" id="upload_file" name="">
                    Upload Image
                </div>
                <div class="processing_bar"></div>
                <div class="success_box"></div>
            </div>
        </div>
        <div class="error_msg"></div>
        <div class="uploaded_file_view" id="uploaded_view">
            <span class="file_remove">X</span>
        </div>
        <div class="classification_result">
            <h2 id="image_name"></h2>
            <div class="table-container" style="display: none;">
                <table id="result_table">
                    <thead>
                        <tr>
                            <th>Prediction Result</th>
                            <th>Probability</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="static/js/script.js"></script>
</body>
</html>
